<div class = "container" [@dataAdd]="dataAdd.length">
  <h2> HOME PAGE AVAILABLE </h2>

  <div class="col">
  <form>
    <input type="text" name="text-data" [(ngModel)]="data"  placeholder="please add item">
    <input type="submit" [value]="btntxt" (click)="addItem()">
  </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let d1 of dataAdd; let i = index" (click)="removeItem(i)">
      {{d1}}
    </p>
  </div>
  <div class="col">
    <span *ngIf="checkCondition; then condition1 else condition2">condition is valid</span>
    <ng-template #condition1>Fist one called</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
  </div>
<h1> total after slice</h1>
<div class="col" *ngFor="let d1 of dataAdd | slice: 0: 2 as total; let i = index">
  {{i+1}} / {{total.length}}: {{d1}}
</div>

<h2>by using pipe with async</h2>
<!-- <div class="col" *ngIf="dataAdd | async">
{{dataAdd}}
</div> -->

<!-- <p>{{user | async}}</p> -->
<h1> GET Tag by metaTag </h1>
<div class="col" *ngFor="let a of authData">
  <p>{{a}}</p>
</div>

</div>
